@include tablet {
    .contenedor-anuncios{
        display: grid;
        grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
        grid-template-rows: minmax(0, auto);
        gap: 1rem;          
    }
}
.anuncio{
    
    background-color: lighten($gris,5);
    border: solid 1px darken($gris,10);
    margin-bottom:3rem;
    
    
};
.precio{
    color: $verde;
    font-weight: $bold;
    font-size:3rem;
};
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding:0;
    max-height: 25rem;
    
    li {
        flex: 1;
        display: flex;
        img{
            flex: 0 0 3rem;
            margin-right:1rem;
        }
        p{
            font-weight:$black;
        }
    }
}
.imagen-anuncio{
    height:30rem;  
    @include tablet{
        object-fit: cover;
        object-position: center;
    }
    
}
.contenido-anuncio{
    padding:2rem;
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0,auto) minmax(0,18rem) minmax(0,8rem) minmax(0,8rem);
    gap: 0.3rem;
    
    h3{
        grid-row: 1/2;
    }
 
    .parrafo{
        display:inline-flex;
        min-height:160px;
        margin:0;
    };
 
 
};